@using SchoolQuizzes.Common
@model SchoolQuizzes.Web.ViewModels.Home.IndexViewModel
@{
    this.ViewData["Title"] = "Home Page";
}
@section Styles{
    <link href="~/css/HighChart/pie.css" rel="stylesheet" />
}

<div class="text-center">
    <h1 class="display-4">Добре дошли в @GlobalConstants.SystemName!</h1>
</div>



<figure class="highcharts-figure">
    <div id="container"></div>
    <input type="hidden" id="student" value="@Model.StudentsCount" />
    <input type="hidden" id="teacher" value="@Model.TeachersCount" />
    <input type="hidden" id="admin" value="@Model.AdminCount" />
    <p class="highcharts-description">
        Потребители в системата.
    </p>
</figure>
<hr />
<figure class="highcharts-figure">
    <div id="containerAnswers"></div>
    <input type="hidden" id="correct" value="@Model.CorrectAnswersCount" />
    <input type="hidden" id="inCorrect" value="@Model.InCorrectAnswersCount" />
    <p class="highcharts-description">
        Съотношение на общия прой правилни и грешни отговори!
    </p>
</figure>

@section Scripts{
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
    <script src="~/js/HighChart/pieUsers.js"></script>
    <script src="~/js/HighChart/pieAnswers.js"></script>
}
