@using SchoolQuizzes.Common
@model SchoolQuizzes.Web.ViewModels.Home.IndexViewModel
@{
    this.ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Добре дошли в @GlobalConstants.SystemName!</h1>
    <p>Ние имаме: </p>
    <div class="col-md-4 offset-md-4">
        <ul class="list-group">
            <li class="list-group-item bg-info">Потребители: @Model.UsersCount</li>
            <li class="list-group-item bg-danger">Въпроси: @Model.QuestionsCount</li>
            <li class="list-group-item bg-info">Отговори: @Model.AnswersCount</li>
            <li class="list-group-item bg-danger">Категории: @Model.CategoriesCount</li>
        </ul>
    </div>

</div>
