@model SchoolQuizzes.Web.ViewModels.Administration.Dashboard.DashboardIndexViewModel
@{
    this.ViewData["Title"] = "Admin dashboard";
}

<h1>@this.ViewData["Title"]</h1>
<hr />
<div class="btn-group" role="group" aria-label="...">
    <a class="btn btn-primary" asp-area="Administration" asp-controller="Categories" asp-action="Index">Категори</a>
    <a class="btn btn-primary" asp-area="Administration" asp-controller="Difficults" asp-action="Index">Нива</a>
    <a class="btn btn-primary" asp-area="Administration" asp-controller="Stages" asp-action="Index">Класове</a>
    <a class="btn btn-primary" asp-area="Administration" asp-controller="Questions" asp-action="Index">Въпроси</a>
    <a class="btn btn-primary" asp-area="Administration" asp-controller="Quizs" asp-action="Index">Тестове</a>
</div>
<hr />
<div class="text-center">
    <div class="col-md-4 offset-md-4">
        <ul class="list-group">
            <li class="list-group-item bg-light">Потребители: @Model.UsersCount</li>
            <li class="list-group-item bg-white">Въпроси: @Model.QuestionsCount</li>
            <li class="list-group-item bg-light">Отговори: @Model.AnswersCount</li>
            <li class="list-group-item bg-white">Категории: @Model.CategoriesCount</li>
            <li class="list-group-item bg-white">Тестове: @Model.QuizzesCount</li>
        </ul>
    </div>

</div>