@model ICollection<SchoolQuizzes.Web.ViewModels.Takes.UserTakeViewModel>;

<h1>Решени тестове</h1>
<table class="table table-bordered table-hover text-center">
    <thead>
        <tr>
            <th>Име</th>
            <th>Категория</th>
            <th>Трудност</th>
            <th>Брой въпроси</th>
            <th>Резултат</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var take in Model)
        {
            <tr>
                <td>@take.QuizTitle</td>
                <td>@take.QuizCategoryName</td>
                <td>@take.QuizDifficultName</td>
                <td>@take.QuizQuestionsCount</td>
                <td>@take.Result</td>
            </tr>
        }
    </tbody>
</table>