@model SchoolQuizzes.Web.ViewModels.Takes.TakeQuestionAnswerViewModel;
@{
    this.ViewData["Title"] = "Детайли";
}
<h1>@Model.Title</h1>
<hr />
<form method="post">
    <input type="hidden" asp-for="Title" value="@Model.Title" />
    <input type="hidden" asp-for="TakeId" value="@Model.TakeId" />
    <input type="hidden" asp-for="QuizId" value="@Model.QuizId" />
    <input type="hidden" asp-for="Question" value="@Model.Question" />
    <input type="hidden" asp-for="CurrentQuestionId" value="@Model.CurrentQuestionId" />
    <input type="hidden" asp-for="PageNumber" value="@Model.PageNumber" />
    <input type="hidden" asp-for="QuestionsCount" value="@Model.QuestionsCount" />
    <input type="hidden" asp-for="ElementsCount" value="@Model.ElementsCount" />

    <div class="row">
        <div class=" justify-content-lg-start mx-auto">
            <p class="lead">@Model.Question</p>
            @foreach (var answer in Model.Answers)
            {
                <p class="lead m-3">
                    @{
                        bool isCheked = Model.TakenAnswer == @answer.Id ? true : false;
                    }
                    @if (isCheked)
                    {
                        <input type="radio" value="@answer.Id" asp-for="UserAnswerId" checked>
                    }
                    else
                    {
                        <input type="radio" value="@answer.Id" asp-for="UserAnswerId">
                    }
                    @answer.Value
                </p>

            }
            <input type="submit" class="btn btn-primary" value="Маркирай отговор" />
        </div>
    </div>
    <hr />

    <partial name="_PagingPartial" model="@Model" />

    <div class="row ">
        <a class=" btn btn-danger mx-auto" asp-controller="TakesQuiz" asp-action="Finish" asp-route-id="@Model.TakeId">Завърши теста</a>
    </div>


</form>

