@model SchoolQuizzes.Web.ViewModels.Takes.TakeQuestionAnswerViewModel;
@{
    this.ViewData["Title"] = "Детайли";
}
<h1>@Model.QuizTitle</h1>
<hr />
<form method="post">
    <input type="hidden" asp-for="QuizTitle" value="@Model.QuizTitle" />
    <input type="hidden" asp-for="Id" value="@Model.Id" />
    <input type="hidden" asp-for="QuizId" value="@Model.QuizId" />
    <input type="hidden" asp-for="QuestionValue" value="@Model.QuestionValue" />
    <input type="hidden" asp-for="CurrentQuestionId" value="@Model.CurrentQuestionId" />
    <input type="hidden" asp-for="PageNumber" value="@Model.PageNumber" />
    <input type="hidden" asp-for="QuizQuestionsCount" value="@Model.QuizQuestionsCount" />
    <input type="hidden" asp-for="ElementsCount" value="@Model.ElementsCount" />

    <div class="row">
        <div class=" justify-content-lg-start mx-auto">
            <p class="h2">@Model.QuestionValue</p>
            <div class="item-rating list-group list-group-horizontal-sm">
                <span class="star-fill list-group-item-success" data-rating="1"><i class="fas fa-star"></i></span>
                <span class="star-fill list-group-item-success" data-rating="2"><i class="fas fa-star"></i></span>
                <span class="star-fill list-group-item-success" data-rating="3"><i class="fas fa-star"></i></span>
                <span class="star-fill list-group-item-success" data-rating="4"><i class="fas fa-star"></i></span>
                <span class="star-fill list-group-item-success" data-rating="5"><i class="fas fa-star"></i></span>
                <span>&#8614;</span>
                <span><span id="averageRating">@Model.AverageRating.ToString("0.0")</span><span> / 5</span> </span>
            </div>
            @foreach (var answer in Model.Answers)
            {
                <p class="lead m-3">
                    @{
                        bool isCheked = Model.TakenAnswer == @answer.Id ? true : false;
                    }
                    @if (isCheked)
                    {
                        <input type="radio" value="@answer.Id" asp-for="UserAnswerId" checked>
                    }
                    else
                    {
                        <input type="radio" value="@answer.Id" asp-for="UserAnswerId">
                    }
                    @answer.Value
                </p>

            }

            <input type="submit" class="btn btn-primary" value="Маркирай отговор" />
        </div>
    </div>

    <hr />

    <partial name="_PagingPartial" model="@Model" />

    <div class="row ">
        <a class=" btn btn-danger mx-auto" asp-controller="TakesQuiz" asp-action="Finish" asp-route-id="@Model.Id">Завърши теста</a>
    </div>
</form>

<form method="post" id="antiForgeryForm"></form>
@section Scripts {
    <script>
        $("span[data-rating]").each(function (el) {
            $(this).click(function () {
                var value = parseInt($(this).attr("data-rating"));
                var questionId = @Model.CurrentQuestionId;
                var antiForgeryToken = $('#antiForgeryForm input[name=__RequestVerificationToken]').val();
                var data = { questionId: questionId, value: value };
                $.ajax({
                    type: "POST",
                    url: "/api/Ratings",
                    data: JSON.stringify(data),
                    headers: {
                        'X-CSRF-TOKEN': antiForgeryToken
                    },
                    success: function (data) {
                        $('#averageRating').html(data.averageRating.toFixed(1));
                    },
                    contentType: 'application/json',
                });
            })
        });
    </script>
}